## Python Basics

### Python keywords

In [1095]:
#this will get you the list of all keywords in python.
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [1096]:
#this will return true, if the mentioned name is a keyword.
keyword.iskeyword('try')

True

In [1097]:
keyword.iskeyword('loop')

False

### Popular Python Libraries

NumPy:for high level mathematical fuctions

Pandas:used for Data Analysis & Manipulation

Matplotlib: Plotting in Python

### Python Comments

In [1098]:
#a single line comment
#a multi line comment
"""Haii all it's me Christy Johns from EzyMentor"""

"Haii all it's me Christy Johns from EzyMentor"

In [1099]:
#How are you?
#
"Yes I'm fine ..."

"Yes I'm fine ..."

## 1st python Program

In [1100]:
print('Hello my Viewers')

Hello my Viewers

## Python Variables

### Variable declaration

In [1101]:
#variable is declared as the value 5 is assigned to it.
x = 5
x

5

In [1102]:
XyZ = 100
XyZ

100

## Data Types in Python

### Numerical data types



1.   Integers
2.   Float
3.   Complex Numbers
4.   Boolean

In [1103]:
# 1. Integers = are used to represent whole number values.
x = 1000
b = 10000

type(x)
type(b)

int

In [1104]:
# 2. Float = data type is used to represent decimal point values.

x = 100.10
y = 13.13
type(x)
type(y)

float

In [1105]:
# 3. Complex = numbers are used to represent imaginary values.

z = 12+4j
type(z)

complex

In [1106]:
c=3+6j
type(c)

complex

In [1107]:
# 4. Boolean = is used for categorical output, since the output of boolean is either true or false.

Boo = 9>7
#Boo is the boolean variable

type(Boo)
#the output will be bool

print(Boo)
#this will print true.

True

In [1108]:
l=20<10
print(l)

False

**String**

In [1109]:
#Strings in python are used to represent unicode character values. a single character is also considered as a string.
#We denote or declare the string values inside single quotes or double quotes. 
#To access the values in a string, we use the indexes and square brackets.
string = 'EzyMentor'
string

'EzyMentor'

In [1110]:
string[4]

'e'

In [1111]:
string[0]

'E'

In [1112]:
string[8]

'r'

Basic Operations Using String

In [1113]:
string = 'Hai From EzyMentor'
#will make the letters to uppercase
string.upper()

'HAI FROM EZYMENTOR'

In [1114]:
#will make the letters to lowercase
string.lower()

'hai from ezymentor'

In [1115]:
#will return the strings starting at index 2 until the index 16.
string[2:16]

'i From EzyMent'

In [1116]:
string[4:18]

'From EzyMentor'

### complex data types.

**Lists**

Tuple, set and dictionary are the other collection data type is python.

A list is ordered and changeable.

To declare a list we use the square brackets.

In [1117]:
list = [20,15,25,10,30,5,'pinki', 'brownie']
#will get the values from index 1 until index 5.
list[1:5]

[15, 25, 10, 30]

In [1118]:
list[2:6]

[25, 10, 30, 5]

In [1119]:
list[4:8]

[30, 5, 'pinki', 'brownie']

In [1120]:
#will replace the value at the index 6.
list[6]='zimba'
list

[20, 15, 25, 10, 30, 5, 'zimba', 'brownie']

In [1121]:
list[6]='jimmy'
list

[20, 15, 25, 10, 30, 5, 'jimmy', 'brownie']

In [1122]:
#will add the value at the end of the list.
list.append('blacky')
list

[20, 15, 25, 10, 30, 5, 'jimmy', 'brownie', 'blacky']

In [1123]:
#will add the value at the index 4.
list.insert(4,'pekky')
list

[20, 15, 25, 10, 'pekky', 30, 5, 'jimmy', 'brownie', 'blacky']

In [1124]:
list.insert(6,'pinki')
list

[20, 15, 25, 10, 'pekky', 30, 'pinki', 5, 'jimmy', 'brownie', 'blacky']

**List Operations In Python**

append

clear

copy

count

extend

insert

index

pop

remove

reverse

sort

In [1125]:
A=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [1126]:
#Append
#the output will have 88 at the end of the list.

A.append(88)
A

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 88]

In [1127]:
#Clear
#this will clear the list or empty the list.

A.clear()
A

[]

In [1128]:
#Copy
#it makes the copy of the list.
A.copy()
A

[]

In [1129]:
A=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [1130]:
#Extend
B=[10,20]
#this will add the values in this list from the iterable object range.
A.extend(B)
A

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 10, 20]

In [1131]:
#Insert
#this will add the value at the index value given
A.insert(1,'apple')
A

[10, 'apple', 20, 30, 40, 50, 60, 70, 80, 90, 100, 10, 20]

In [1132]:
#Pop
#this will pop the value from the  end of the list
A.pop()
A

[10, 'apple', 20, 30, 40, 50, 60, 70, 80, 90, 100, 10]

In [1133]:
#Remove
#this will remove value from the list
A.remove(70)
A

[10, 'apple', 20, 30, 40, 50, 60, 80, 90, 100, 10]

In [1134]:
#Reverse

#this will reverse the list.
A.reverse()
A

[10, 100, 90, 80, 60, 50, 40, 30, 20, 'apple', 10]

In [1135]:

A.pop(9)
A

[10, 100, 90, 80, 60, 50, 40, 30, 20, 10]

In [1136]:
#Sort
#it will get a sorted list as a result.
A.sort()
A

[10, 10, 20, 30, 40, 50, 60, 80, 90, 100]

In [1137]:
#slicing list 
A[1:3]

#it will get all the numbers starting from index 5 to index 10.

A[5:10]
#this will print all the numbers starting from index 2 until the end of the list.
A[2:]

#this will print all the numbers from index 0 until the index 6.
A[0:6]

[10, 10, 20, 30, 40, 50]

### **Tuples**

collection which is unchangeable or immutable

To declare a tuple we use the round brackets.

In [1138]:
tuple=(10,20,10,30,20,40,30,50,30)
#to count the number of elements
tuple.count(10)
tuple.count(30)

#to find the index
tuple.index(50)

7

### **Sets**

A set is a collection which is unordered

To declare a set in python we use the curly brackets.

In [1139]:

set={10,20,10,30,20,40,30,50,30}
#will get all the values.
for x in set:
 print(x)

40
10
50
20
30

In [1140]:
for x in set:
  print(x)

40
10
50
20
30

In [1141]:
20 in set
#will  return true if the value is in the set.

True

In [1142]:
100 in set

False

In [1143]:
#add a value in a set
set.add('pekky')
set

{10, 20, 30, 40, 50, 'pekky'}

In [1144]:
set.add(100)
set

{10, 100, 20, 30, 40, 50, 'pekky'}

In [1145]:
100 in set

True

In [1146]:
#to remove an item from a set
set.remove('pekky')
set

{10, 20, 30, 40, 50, 100}

In [1147]:

set1={1,2,3}
set2={2,3,4}
set1.issubset(set2)
#to check subset or not

False

In [1148]:
#this will return a set with the union of the two sets.
set1.union(set2)

{1, 2, 3, 4}

### **Dictionary**

In [1149]:
# we created a dictionary now, with key: name, email, phone number
# and values christy, kichu@gmail.com, 7000070000
dict1={"Name" :"Christy",
       "Email" :"kichu2gmail.com",
       "Phone number": "7000070000"}
dict1

{'Email': 'kichu2gmail.com', 'Name': 'Christy', 'Phone number': '7000070000'}

In [1150]:
# now to seperately call each key from the dictionary we can use the code
a=dict1['Phone number']
a

'7000070000'

In [1151]:
# change value in the dictionary
dict1["Name"]="Catherine"
print(dict1)

{'Name': 'Catherine', 'Email': 'kichu2gmail.com', 'Phone number': '7000070000'}

In [1152]:
dict1["Email"]="kathieee2gmail.com"
print(dict1)

{'Name': 'Catherine', 'Email': 'kathieee2gmail.com', 'Phone number': '7000070000'}

In [1153]:
#To get Key words headings
for x in dict1:
  print(x)

Name
Email
Phone number

In [1154]:
#To get value 
for x in dict1:
  print(dict1[x])

Catherine
kathieee2gmail.com
7000070000

In [1155]:
# to get both key and values
for x,y in dict1.items():
  print(x,y)

Name Catherine
Email kathieee2gmail.com
Phone number 7000070000

In [1156]:
# to get the length of dictionary
print(len(dict1))

3

In [1157]:
# to add some more key and values into dictionary
dict1["Age"]=20
print(dict1)

{'Name': 'Catherine', 'Email': 'kathieee2gmail.com', 'Phone number': '7000070000', 'Age': 20}

In [1158]:
print(len(dict1))

4

In [1159]:
dict1["Place"]="Angamaly"
print(dict1)

{'Name': 'Catherine', 'Email': 'kathieee2gmail.com', 'Phone number': '7000070000', 'Age': 20, 'Place': 'Angamaly'}

In [1160]:
print(len(dict1))

5

In [1161]:
#to remove value 
dict1.pop("Email")
dict1

{'Age': 20,
 'Name': 'Catherine',
 'Phone number': '7000070000',
 'Place': 'Angamaly'}

In [1162]:
#to delet from dictionary
del dict1["Place"]
dict1

{'Age': 20, 'Name': 'Catherine', 'Phone number': '7000070000'}