### To Add 2 numbers 
1st assign data into string\
input a number

In [33]:
a=2
b=10
c=a+b
c

12

## or

In [34]:
num1=input('first number:')

first number:2

In [35]:
#back slash is given to come to next line
num2=input('\nSecond number:')

Second number:10

In [36]:
#string converting to float
sum=float(num1)+float(num2)
sum

12.0

In [37]:
#to convert float into string format we give .format
#here inside the curly brackets we give the index numbers of each code

print('the Sum of {0} and {1} is {2}' .format(num1,num2,sum))

the Sum of 2 and 10 is 12.0