## To Get values

To get values between 0 to 100, the values should be multiples of 2

In [1]:
n=[i for i in range(100) if i%2==0]
n

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [2]:
#To get values between 0 to 10, the values should be multiples of 2
m=[i for i in range(10) if i%2==0]
m

[0, 2, 4, 6, 8]

In [3]:
#To get values between 0 to 30, the values should be multiples of 3
p=[i for i in range(30) if i%3==0]
p

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

**Create a list which contain numbers divisible by 3 in range(1-20)**

In [4]:
l=[i for i in range(1,20) if i%3==0]
l

[3, 6, 9, 12, 15, 18]

In [5]:
#to reverse a value
a="Christy"
for i in a[::-1]:
  print(i)

y
t
s
i
r
h
C

## **Input a value**

In [6]:
abc=input()

Christy

In [7]:
My_word=input()

Christy Johns

In [8]:
My_hobby=input()

Coding in Python

In [9]:
My_hobby=input()
print(type (My_hobby))

Coding In Python
<class 'str'>

In [10]:
a = input()
print(type(a))

Coding
<class 'str'>

In [11]:
#this code will be a error
inn = input() 
print(inn+1)

Coding

TypeError: ignored

In [12]:
#this code will be a error
inn = input()
print(str(inn)+1)

Coding

TypeError: ignored

In [13]:
#correct code to express above errors
inn = input()
print(inn +str(1))

Coding
Coding1

In [14]:
inn = input()      # suppose we are taking input as number

# print(str(inn) + 1)   # do you think this work? Yes or NO

print(inn + str(1))   # do you think this work? Yes or NO --- this is correct we have converted the numeric value into str

Coding
Coding1

In [15]:
inn=input()
print(inn+' '+str(1))

Coding
Coding 1

## **What is output of**
	for i in range(1,10,3):
		print(i)

In [16]:
for i in range(1,10,3):
		print(i)

1
4
7

**Suppose, we want to separate the letters of the word "human" and add the letters as items of a list.**

In [17]:
a="human"
b=list(a)
b

['h', 'u', 'm', 'a', 'n']

In [18]:
c=[i for i in a]
c

['h', 'u', 'm', 'a', 'n']

In [19]:
#split this 

s="newmanof india" 
list(s)

['n', 'e', 'w', 'm', 'a', 'n', 'o', 'f', ' ', 'i', 'n', 'd', 'i', 'a']

**Store addition of elements of two list in one**\
a = [1, 2, 3]\
b = [7, 8, 9]

In [21]:
a=[1,2,3]
b=[7,8,9]
c=[]
c=[i+j for i,j in zip(a,b)]
c

[8, 10, 12]

In [22]:
list(map(lambda x,y:x+y,a,b))

[8, 10, 12]

In [23]:
x = [2, 2, 3]
y = [7, 10, 9]
l=[a+b for a,b in zip(x,y)]
l

[9, 12, 12]

**How can we get square of list : my_list = [2, 3, 5, 7, 11]**

In [24]:
lst=[2,3,5,7,11]
c=[x*x for x in lst]
c

[4, 9, 25, 49, 121]

In [25]:
list(map(lambda x:x*x,lst))

[4, 9, 25, 49, 121]

**Dictionary**

In [26]:
#to Take value from a dictionary
students = {1: {'name': 'Steve', 'age': 25, 'marks': 60}, 
 2: {'name': 'Anil', 'age': 23, 'marks': 75}, 
 3: {'name': 'Asha', 'age': 20, 'marks': 70}}

students[2]['name']

'Anil'

capitals = {"USA":"Washington D.C.", "France":"Paris", "India":"New Delhi"}

**How can we access Dictionary Using For Loop**

In [27]:
capitals = {"USA":"Washington D.C.", "France":"Paris", "India":"New Delhi"}
for k in capitals.items():
  print("key",k[0])
  print("value",k[1])

key USA
value Washington D.C.
key France
value Paris
key India
value New Delhi

**how you will extract only keys?**

In [28]:

for k in capitals:
  print("key",k)

key USA
key France
key India

In [29]:
capitals = {"USA":"Washington D.C.", "France":"Paris", "India":"New Delhi"}
capitals.keys()

dict_keys(['USA', 'France', 'India'])

In [30]:
capitals.values()

dict_values(['Washington D.C.', 'Paris', 'New Delhi'])

In [31]:
dict1={"Name": "John",               
             "Email": "John@gmail.com",
             "phone number": "9876543210"}
dict1.keys()

dict_keys(['Name', 'Email', 'phone number'])

In [32]:
dict1['phone number']

'9876543210'

lst=["Pune","Mumbai"]

lst1=["x","y","z"]
	
How can we get output like

['Pune', 'Mumbai', ['x', 'y', 'z']]

In [33]:
lst=["Pune","Mumbai"]
lst1=["x","y","z"]
lst.append(lst1)
lst

['Pune', 'Mumbai', ['x', 'y', 'z']]

**Find Even and Odd numbers in the range(1-10)**

In [34]:
for i in range(1,10):
  if(i%2==0):
    print("Even number",i)
  else:
    print("odd number",i)

odd number 1
Even number 2
odd number 3
Even number 4
odd number 5
Even number 6
odd number 7
Even number 8
odd number 9

str = "Hello"

str[2:10:2] = ?

In [35]:
str = "Hello"
str[2:10:2]

'lo'

str = 'Hello'

Reverse the string

In [36]:
str = 'Hello'
str1=str[::-1]
str1

'olleH'

**Factorial**

In [37]:
import math
print(math.factorial(10))

3628800

In [38]:
print(math.factorial(3))

6

**To get median using numpy**

In [39]:
import numpy as np
l=[31,17,56,34,22,5,2,37,17]
np.median(l)

22.0